.infoListContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.infoListContainer div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1rem;
    font-weight: 700;
}

.infoListContainer div:nth-child(1) span:nth-child(1) {
    color: var(--blue);
}

.infoListContainer div:nth-child(2) span:nth-child(1) {
    color: var(--purple);
}

.infoListContainer div span:nth-child(2) {
    font-size: 0.75rem;
    border-radius: 999rem;
    background: var(--gray-400); 
    padding: 2px 8px;
}

.listContainer {
    list-style: none;
}